body {
	margin: 0;
}

main {
	padding: 10px;
}

.content {
	border: 2px solid black;
	width: 60vw;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

ul, ol {
	list-style: none;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}

.footer {
	display: block;
	text-align: right;
	padding: 10px;
	clear: both;
}