<!DOCTYPE html>
{% load static %}

<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" type="text/css" href="{% static 'stylesheet.css' %}">
		{% block inside_head %}{% endblock %}
	</head>
	<body>
		{% block top_panel %}{% endblock %}
		<main>
			<div class="content">
				{% block content %}{% endblock %}
				{% if not no_main_page_link %}
					<div class="return-link">
						<a href="/">Back to main page</a>
					</div>
				{% endif %}
			</div>
		</main>
	</body>
</html>